@import "../config";

@media screen and (max-width: 430px) {
    .dashboard-container {
        @include flex(flex-start, center, column);
        height: auto;
        width: 100vw;
        background: $offWhite-color;
        margin-top: 8vh;
        overflow-x: hidden;

        .order-option-address-container {
            @include flex(flex-start, center, column);

            height: auto;
            width: 100vw;
            padding: 0 7vw;

            .inner {
                @include flex(flex-start, center, column);

                h2 {
                    @include main-font(1.8rem, 700, black);
                    margin-bottom: 8px;
                }
                h3 {
                    @include main-font(1rem, 700, black);
                }
            }
        }

        .menu-selection-container {
            @include flex(center, center, row);
            height: 12vh;
            min-width: 100vw;
            margin: 0 7vw;

            .menu-selector-container {
                @include flex(center, center, column);
                height: 70px;
                width: 70px;
                padding: 7px;
                margin-right: 15px;
                border-radius: 10px;
                transition: 0.3s all ease-in-out;

                img {
                    height: 30px;
                    width: auto;
                    margin-bottom: 5px;
                    transition: 0.3s all ease-in-out;
                    background: transparent;
                }

                h3 {
                    @include main-font(0.8rem, 700, black);
                    transition: 0.3s all ease-in-out;
                }
            }

            .selected-option {
                background: $pink-color;
                box-shadow: $box-shadow;

                .img {
                    background: $pink-color;
                }

                h3 {
                    background: $pink-color;
                }
            }
        }
    }
}
